__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
tmp_cifar_check/
trained_check/
trained_report_src/
reworked_report_src/
classmate_report_text.txt
PJ2_2026_results/
*.zip
*.tar.gz
PJ2_2026/codes/VGG_BatchNorm/data/cifar-10-batches-py/
PJ2_2026/codes/VGG_BatchNorm/data/cifar-10-python.tar.gz
PJ2_2026/codes/VGG_BatchNorm/reports/
